services:
  api:
    build:
      context: ./
      dockerfile: ./Dockerfile
    volumes:
      - ./api:/app
      - ./skyboundTypes:/skyboundTypes
      - ./.env.amadeus.local:/.env.amadeus.local # Amadeus API credentials
      - ./.env.ngrok.local:/.env.ngrok.local # Ngrok forwarding credentials
      - ./.env.test.local:/.env.test.local # Token to bypass firebase auth for testing
      - ./.env.firebase-backend.local:/.env.firebase-backend.local # Base64-encoded admin service account credentials for authenticating user session tokens on the backend
    ports:
      # - 4000:4000
      - 80:80
      # - 443:443
    environment:
      # - USE_HTTPS=true
      - USE_NGROK=true
    command: ["npm", "start"]
