services:
  api:
    build:
      context: ./
      dockerfile: ./Dockerfile
    volumes:
      - ./api:/app
      - ./skyboundTypes:/skyboundTypes
      - .env.amadeus.local:/.env.amadeus.local
    ports:
      - 4000:4000 # API
    environment:
      - PORT=4000
    command: ["npm", "start"]