services:
  api:
    build:
      context: ./
      dockerfile: ./Dockerfile
    volumes:
      - ./api:/app
      - ./skyboundTypes:/skyboundTypes
      - ./assets:/assets # For airport data
      - ./.env.amadeus.local:/.env.amadeus.local # Amadeus API credentials
      - ./.env.ngrok.local:/.env.ngrok.local # Ngrok forwarding credentials
      - ./.env.test.local:/.env.test.local # Token to bypass firebase auth for testing
      - ./.env.firebase-backend.local:/.env.firebase-backend.local # Base64-encoded admin service account credentials for authenticating user session tokens on the backend

      # Certs that live on the oracle cloud server and need to be made available to docker (for HTTPS)
      - /etc/letsencrypt/live/skybound-api.xyz:/certs:ro
      - /etc/letsencrypt/archive/skybound-api.xyz:/certs/archive:ro
      - /etc/letsencrypt/renewal/skybound-api.xyz.conf:/certs/renewal.conf:ro
    ports:
      # - 5050:5050 # Extra
      - 6060:6060 # HTTP
      - 7070:7070 # HTTPS
    environment:
      # - USE_HTTP=true
      # - AMADEUS_PROD=true
      # - USE_NGROK=true
    command: ["npm", "start"]
