.login-background {
    background-color: #2F97FF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*filled background for the login screen.*/
}

.login-itemHolder {
    background-Color: white;
    border-Radius: 12px; 
    padding: 16px;
    box-Shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 200px;
    height: 200px;
    box-Sizing: border-box;
    /*Item holder box for things*/
}

.login-skyboundButton {
    color: white;
    background-color: blue;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: none
}